<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiqihai.dao.CustomerDao">
    <insert id="insertCustomer">
        insert into customer_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cNumber != '' and cNumber != null">
                c_number,
            </if>
            <if test="cPassword != '' and cPassword != null">
                c_password,
            </if>
            <if test="cCard != '' and cCard != null">
                c_card,
            </if>
            <if test="cDriving != '' and cDriving != null">
                c_driving,
            </if>
            <if test="cPhone != '' and cPhone != null">
                c_phone,
            </if>
            <if test="cName != '' and cName != null">
                c_name,
            </if>
            <if test="cSex != '' and cSex != null">
                c_sex,
            </if>
            <if test="cMemberid != '' and cMemberid != null">
                c_memberid,
            </if>
        </trim>

        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cNumber != '' and cNumber != null">
                #{cNumber},
            </if>
            <if test="cPassword != '' and cPassword != null">
                #{cPassword},
            </if>
            <if test="cCard != '' and cCard != null">
                #{cCard},
            </if>
            <if test="cDriving != '' and cDriving != null">
                #{cDriving},
            </if>
            <if test="cPhone != '' and cPhone != null">
                #{cPhone},
            </if>
            <if test="cName != '' and cName != null">
                #{cName},
            </if>
            <if test="cSex != '' and cSex != null">
                #{cSex},
            </if>
            <if test="cMemberid != '' and cMemberid != null">
                #{cMemberid},
            </if>
        </trim>
    </insert>

    <select id="customerLogin" resultType="com.yiqihai.entity.CustomerInfo">
        select c_number,c_password from customer_info
        where c_number = #{cNumber}
        and c_password = #{cPassword}
    </select>
</mapper>