<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiqihai.dao.CustomerDao">

    <insert id="insertCustomer">
        insert into customer_info(c_number,c_password,c_phone)
        values (#{cNumber},#{cPassword},#{cPhone})
    </insert>

    <select id="customerLogin" resultType="com.yiqihai.entity.CustomerInfo">
        select c_number,c_name,c_phone from customer_info
        where c_number = #{cNumber}
        and c_password = #{cPassword}
    </select>

    <select id="phoneLogin" resultType="com.yiqihai.entity.CustomerInfo">
        select c_number,c_name,c_phone from customer_info
        where c_phone = #{phoneNumber}
    </select>

    <select id="queryCustomer" resultType="com.yiqihai.entity.CustomerInfo">
        select c_number,c_password,c_phone,c_card,c_driving,c_sex from customer_info
        where c_number = #{cNumber}
    </select>

    <update id="updateCustomer">
        update customer_info
        set
        c_card = #{cCard},
        c_driving = #{cDriving},
        c_phone = #{cPhone},
        c_name = #{cName},


    </update>
</mapper>